*{
    margin:0;
    padding:0;
  }

  @font-face {
    font-family: Tuffy;
    src: url(Fonts/Tuffy.otf);
  }

  #masthead{
    font-family: Tuffy;
    position: absolute;
    left: 0;
    margin: 20px;
    color: #CDCDCD;
  }

  #navbar{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    top:0;
    background-color:#57676C;
    height:80px;
    width: 100%;
  }

  h2{
    font-size: 24px;
  }
  
a{
    font-size: 16px;
    font-family: Tuffy; 
    color:#CDCDCD;
    padding:50px;
    text-decoration:none;
  }

  h1{
    line-height: 2.8em;
  }

  #hidden{
    color: #57676C;
    padding: 10px 10px 0 10px;
    font-size: 64px;
  }

  #hidden:hover{
    background-color: yellow;
  }
  
  #welcome-section{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#CDCDCD;
    height:calc(100vh - 80px);
    width:100%;
    text-align: center;
  }

  #welcome-container{
    max-width: 560px;
  }

  #about{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color:#57676C;
    height:100vh;
    width:100%;
    margin:0;
  }


  p{
    color:#CDCDCD;
    font-family: Tuffy;
    font-size:32px;
    text-align: center;
    padding: 0 50px;
    max-width: 800px;
  }
  
  #projects{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 4rem;
    width:100%;
  }
  
  #project-image{
    width:100%;
    height:calc(100%-20px);
  }
  
  #contact{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 650px) {
    
    #about{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        background-color:yellow;
        height:100vh;
        width:100%;
        margin:0;
      }
  }