  *{
      margin:0;
      padding:0;
      box-sizing: border-box;
  }

  @font-face {
    font-family: Paramita;
    src: url(Fonts/Paramita.ttf);

  }

  body{
    background-color: #CDCDCD;
  }

  .pill-nav{
    background-color: #CDCDCD;
    overflow: hidden;
    padding: 30px 30px 5px 30px;
  }
  /* Style the links inside the pill navigation menu */
  .pill-nav a {
    display: inline-block;
    color: #CDCDCD;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 50px;
    background-color: #57676C;
    margin: 0 10px 0 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .pill-nav a.split{
    float: right;
  }


  .welcome-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
    background-color:#CDCDCD;
  }

  .welcome-section .text {
    flex: 5;
    color: #57676C;
  }

  .welcome-section .text h2 {
    font-size: 45px;
    font-family: Paramita;
  }

  p {
    margin: 15px 0 20px 0;
    font-size: 20px;
    font-family: Paramita;
    color: #57676C;
  }

  .welcome-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
  }

  .welcome-section .headshot img {
    width: 500px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  
  a{
      font-size: 16px;
      font-family: Paramita; 
      color:#CDCDCD;
      padding:50px;
      text-decoration:none;
  }

  #gallery{
    padding: 15px;
    text-align: center;
  }

  h1 {
    font-size: 50px;
    font-family: Paramita; 
    color:#57676C;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33%;
    display: none; /* Hide columns by default */
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: #CDCDCD;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    font-family: Paramita;
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: 0 5px 0 5px;
    background-color: #57676C;
    color: #CDCDCD;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #666;
      color: white;
  }








  
  @media (max-width: 850px) {
    /* SECTION 1: Hero */
    .welcome-section .text h2 {
      font-size: 35px;
    }
  }
  
  @media (max-width: 740px) {
    /* SECTION 1: Hero */
    .welcome-section {
      flex-direction: column-reverse;
    }
  
    .welcome-section .headshot img {
      width: 300px;
    }
  }
  
  @media (max-width: 600px) {
  
    /* SECTION 1: Hero */
    .welcome-section {
      padding: 0 20px;
    }
  
    .welcome-section .text h2 {
      font-size: 30px;
    }
  }